:root {
  background-color: rgb(13 17 23);
  color: rgb(201 209 217);
  font-size: 16px;
}


a {
  color:rgb(88 166 255);
  text-decoration: none;
}

.Button {
  background-color: transparent;
  border-width: 0px;
  color: rgb(88 166 255);
  margin: 2px;
  font-size: 14px;
  font-weight: 700;
}

.Button:hover {
  background-color: rgb(48 54 61);
  border-radius: 4px;
}
